@media print {
  .noprint {
    display: none;
  }

  div.flex-container>div {
    border: solid white !important;
    padding: none;
    padding-top: none;
  }

  div.flex-container {
    gap: none;
  }

}

:root {
  color-scheme: dark;
}

p, li, a, span, h2 {
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 1), -1px -1px 4px rgba(0, 0, 0, 1);
}

/* h2.h25 should NOT have shadow */
h2.h25 {
  text-shadow: none;
}

@media (min-width: 768px) {

  div.flex-container {
    display: flex;
    grid-template-columns: auto auto 0 2;
  }

}

h1 {
  background-color: antiquewhite;
  color: black;
  border-style: solid;
  border-color: grey;
  padding: 5px;
}

h2.h25 {
  background-color: lightcyan;
  color: black;
  border-style: solid;
  border-color: grey;
  padding: 5px;
}

ul>li {
  margin-bottom: 5px;
}

/***** for resume text section *****/

div.flex-container {
  display: flexbox;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  align-content: center;
}

div.flex-container>div {
  padding: 10px;
  padding-top: 0px;
  border-style: ridge;
  margin-left: auto;
  margin-right: auto;
  object-fit: fill;
  flex: 1;
}

/***** for resume text section *****/

div.centerList {
  text-align: center;
}

ul.centerUL {
  display: inline-block;
  text-align: left;
}

.social-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
}

.social-container a {
  text-decoration: none;
}

.social-container img {
  display: block;
  margin: 0 auto 8px auto;
  width: 48px;
  height: 48px;
}

footer {
  /* background-color:antiquewhite; */
  /* position: fixed; */
  bottom: 0px;
  width: 100%;
  text-align: center;
  border-color: black;
  opacity: 50%;
}

img.imgpix {
  image-rendering: pixelated; /* Works in Chrome, Edge, and Safari */
  image-rendering: crisp-edges; /* Standard value for Firefox */
}
